<ion-header>
  <ion-toolbar>
    <ion-buttons>
      <ion-menu-button></ion-menu-button>
      <ion-title>Perfil</ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form>
   <ion-card button="true" (click)="cambioContrasena()">
     <ion-list>
       <ion-item lines="none">
         <ion-label style="text-align: center">
           <b>Cambiar Contraseña</b>
         </ion-label>
       </ion-item>
     </ion-list>
   </ion-card>
  </form>


</ion-content>
