<ion-header>
    <ion-toolbar>
        <ion-title>Tipo de Beneficiario</ion-title>
        <ion-buttons slot="start">
            <ion-button (click)="cerrarTipoBeneficiario()">
                <ion-icon name="arrow-back" color="danger"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-toolbar>
        <ion-segment (ionChange)="segmentChanged($event)" [(ngModel)]="segment" color="warning">
            <ion-segment-button value="internos">
                Internos
            </ion-segment-button>
            <ion-segment-button value="externos">
                Externos
            </ion-segment-button>
        </ion-segment>
    </ion-toolbar>

    <div [ngSwitch]="segment">
        <ion-list *ngSwitchCase="'internos'">
            <ion-searchbar placeholder="Ingrese la numero de cuenta"
                           (ionChange)="buscarCliente($event)"
            ></ion-searchbar>
        </ion-list>
        <div>
            <ion-list *ngIf="this.listadoClientesFiltro.length > 0">
                <ion-item *ngFor="let cliente of listadoClientesFiltro" button="true" (click)="cargarCliente(cliente)">
                    <ion-avatar slot="start">
                        <img src="../../../../assets/avatar.svg">
                    </ion-avatar>
                    <ion-label>
                        <h2>{{cliente.cliente.nombre}} {{cliente.cliente.apellido}}</h2>
                        <h2></h2>
                        <p>{{cliente.cliente.cedula}}</p>
                    </ion-label>
                </ion-item>
            </ion-list>
        </div>
    </div>

    <div [ngSwitch]="segment">
        <ion-list *ngSwitchCase="'externos'">
            <ion-card button="true">
                <ion-item-sliding >
                    <ion-item lines="none" button="true" >
                        <ion-label># Cuenta: </ion-label>
                        <ion-input></ion-input>
                    </ion-item>
                </ion-item-sliding>
            </ion-card>
            <ion-card button="true">
                <ion-item-sliding >
                    <ion-item>
                        <ion-label position="stacked">
                            Tipo de cuenta
                        </ion-label>
                        <ion-select placeholder="Seleccionar el tipo de cuenta">
                            <ion-select-option value="madison">AHORROS</ion-select-option>
                            <ion-select-option value="chicago">CORRIENTE</ion-select-option>
                        </ion-select>
                    </ion-item>
                </ion-item-sliding>
            </ion-card>
            <ion-card button="true">
                <ion-item-sliding >
                    <ion-item>
                        <ion-label position="stacked">
                            Seleccionar Banco
                        </ion-label>
                        <ion-select placeholder="Institucion Financiera">
                            <ion-select-option value="madison">COPJAM</ion-select-option>
                            <ion-select-option value="chicago">PICHINCHA</ion-select-option>
                            <ion-select-option value="austin">AUSTRO</ion-select-option>
                        </ion-select>
                    </ion-item>
                </ion-item-sliding>
            </ion-card>
            <ion-card button="true">
                <ion-item-sliding >
                    <ion-item>
                        <ion-label position="stacked">
                            Cédula del cliente
                        </ion-label>
                        <ion-input placeholder="Ingrese la cedula"></ion-input>
                    </ion-item>
                </ion-item-sliding>
            </ion-card>
            <ion-card button="true">
                <ion-item-sliding >
                    <ion-item>
                        <ion-label position="stacked">
                            Nombre del beneficiario
                        </ion-label>
                        <ion-input></ion-input>
                    </ion-item>
                </ion-item-sliding>
            </ion-card>

            <div class="ion-padding">
                <ion-button expand="block" color="primary" type="submit" >ACEPTAR
                </ion-button>
                <ion-button expand="block" color="secondary" type="submit" >Cancelar
                </ion-button>
            </div>
        </ion-list>
    </div>
</ion-content>
