<ion-header>
  <ion-toolbar>
    <ion-title>Credenciales</ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="cerrarCredenciales()">
        <ion-icon name="arrow-back" color="danger"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form>
    <ion-list lines="full">
      <ion-item>
        <ion-label position="stacked">Correo
          <ion-text color="danger">*</ion-text>
        </ion-label>
        <ion-input [(ngModel)]="cliente.correo"  type="text" name="correo"></ion-input>
      </ion-item>
    </ion-list>
    <div class="ion-padding">
      <ion-button expand="block" color="primary"  type="submit" (click)="changePassword()">Solicitar Cambio</ion-button>
    </div>
  </form>
</ion-content>
