<ion-split-pane contentId="content" color="primary">
    <ion-menu contentId="content" side="start" swipeGesture="true">
        <ion-header>
            <ion-toolbar >
                <ion-title>CUPS</ion-title>
                <ion-buttons slot="start">
                    <ion-button (click)="closeMenu()">
                        <ion-icon name="md-arrow-back" size="large"></ion-icon>
                    </ion-button>
                </ion-buttons>
            </ion-toolbar>
        </ion-header>
        <ion-content>
            <ion-list>
                <ion-item (click)="saldoPage()">
                    <ion-icon name="cash-outline" slot="start"></ion-icon>
                    <ion-label>Mi saldo</ion-label>
                </ion-item>
                <ion-item (click)="creditoPage()">
                    <ion-icon name="card-outline" slot="start"></ion-icon>
                    <ion-label>Créditos</ion-label>
                </ion-item>
                <ion-item (click)="transferenciaPage()">
                    <ion-icon name="transgender-outline" slot="start"></ion-icon>
                    <ion-label>Transferencias</ion-label>
                </ion-item>
                <!--<ion-item (click)="perfilPage()">
                    <ion-icon name="person-circle-outline" slot="start"></ion-icon>
                    <ion-label>Perfil</ion-label>
                </ion-item>-->
                <ion-item (click)="salir()">
                    <ion-icon name="log-out-outline" slot="start"></ion-icon>
                    <ion-label >Salir</ion-label>
                </ion-item>
            </ion-list>
        </ion-content>
    </ion-menu>
    <ion-router-outlet id="content" main></ion-router-outlet>
</ion-split-pane>