<ion-header>
    <ion-toolbar>
        <ion-buttons>
            <ion-menu-button></ion-menu-button>
            <ion-title>Saldo de Crédito</ion-title>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content scrollY={false} fullscreen={true}>
    <ion-slides>
        <ion-slide>
            <ion-grid style="margin-top: 125px">
                <ion-item>
                    <ion-label style="text-align: center">
                        <b>CREDITOS-CUPS</b>
                    </ion-label>
                </ion-item>
                <div class="main_box">
                    <div class="box" style="text-align: center">
                        <circle-progress
                                [backgroundColor]=""
                                [percent]=this.saldo
                                [maxPercent]=this.saldo
                                [radius]="120"
                                [outerStrokeWidth]="16"
                                [innerStrokeWidth]="8"
                                [outerStrokeColor]="'#062a4d'"
                                [innerStrokeColor]="'#062a4d'"
                                [animation]="true"
                                [animationDuration]="300"
                                [showUnits]="false"
                                [showSubtitle]="false"
                                [titleFontSize]="50"
                        ></circle-progress>
                    </div>
                </div>
                <ion-item>
                    <ion-label><b>{{this.nombre}}</b></ion-label>
                </ion-item>
                <ion-item>
                    <ion-label>CUENTA: {{this.cuenta}}<b></b></ion-label>
                </ion-item>
                <ion-item>
                    <ion-label>SALDO: {{this.saldo}}<b></b></ion-label>
                </ion-item>

            </ion-grid>
        </ion-slide>
        <ion-slide>
            <ion-grid style="margin-top: 125px">
                <ion-item>
                    <ion-label style="text-align: center">
                        <b>CUOTAS VENCIDAS</b>
                    </ion-label>
                </ion-item>
                <div class="main_box">
                    <ion-card class="apps-card">
                        <ion-card-content>
                            <ion-list>
                                <ion-item *ngFor="let cuota of cuotasVencidas">
                                    <ion-thumbnail slot="start">
                                        <img src="../../../assets/cash-outline.svg"/>
                                    </ion-thumbnail>
                                    <ion-label>
                                        <h3>FECHA: {{cuota.fechaPago | date}}</h3>
                                        <p>Estado: {{cuota.estadoCuota}}</p>
                                    </ion-label>
                                </ion-item>
                            </ion-list>
                        </ion-card-content>
                    </ion-card>

                </div>
            </ion-grid>
        </ion-slide>
    </ion-slides>
</ion-content>
