<ion-content padding text-center color="secondary">
    <ion-slides [options]="slideOpts">
        <ion-slide>
            <form [formGroup]="loginForm" (ngSubmit)="loginAction(loginForm.value)">
                <ion-grid style="margin-top: 135px">
                    <ion-row color="primary" justify-content-center>
                        <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
                            <div text-center class="slide">
                                <figure text-center padding>
                                    <img src="assets/logo.png" alt="Cups Movil">
                                </figure>
                                <h2><b>Cups Móvil</b></h2>
                            </div>

                            <div padding>
                                <div class="validation-error">
                                    <ng-container *ngFor="let validation of validation_messages.email">
                                        <div *ngIf="loginForm.get('email').hasError(validation.type) && (loginForm.get('email').dirty || loginForm.get('email').touched)">
                                            {{ validation.message }}
                                        </div>
                                    </ng-container>
                                </div>
                                <ion-item>
                                    <ion-input formControlName="email" type="email" placeholder="Usuario"></ion-input>
                                </ion-item>

                                <ion-item>
                                    <ion-input formControlName="password" type="password"
                                               placeholder="Password"></ion-input>
                                </ion-item>

                                <div class="validation-error">
                                    <ng-container *ngFor="let validation of validation_messages.password">
                                        <div *ngIf="loginForm.get('password').hasError(validation.type) && (loginForm.get('password').dirty || loginForm.get('password').touched)">
                                            {{ validation.message }}
                                        </div>
                                    </ng-container>
                                </div>
                            </div>
                            <br/>
                            <div padding>
                                {{ errorMessage }}
                                <ion-button expand="block" size="large" type="submit" expand="block" [disabled]="!loginForm.valid" color="primary">Login
                                </ion-button>
                                <br/>
                                <br/>
                                <div text-center style="text-align: center">
                                    Olvide mi contraseña <a routerLink="perfil/credenciales" (click)="changePassword()">
                                    recuperar </a>
                                </div>
                            </div>
                        </ion-col>
                    </ion-row>
                </ion-grid>
            </form>
        </ion-slide>
    </ion-slides>
</ion-content>

