*{
  font-family: lato;
}

.menu-header-bg{
  height: 180px;
  width: 350px;
  background: #062a4d;
  background: linear-gradient(90deg, #062a4d 0%, #062a4d 100%);
  box-shadow: 0px 1px 10px rgba(98, 140, 255, 0.5);
  transform: rotate(-15dg);
  border-radius: 10px 10px 10px 50px;
  margin-left: -18px;
  mergin-top: -50px;
  margin-bottom: 60px;
}