<ion-app>
  <ion-menu menuId="main-menu" content-id="main">
    <ion-content>
      <div class="menu-header-bg"></div>
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="main"></ion-router-outlet>
</ion-app>
