<ion-header>
    <ion-toolbar>
        <ion-buttons>
            <ion-menu-button></ion-menu-button>
            <ion-title>Saldo de Cuenta</ion-title>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content scrollY={false} fullscreen={true}>
    <ion-slides>
        <ion-slide>
            <ion-grid style="margin-top: 125px">
                <ion-item>
                    <ion-label style="text-align: center">
                        <b>AHORROS-CUPS</b>
                    </ion-label>
                </ion-item>
                <div class="main_box">
                    <div class="box" style="text-align: center">
                        <circle-progress
                                [backgroundColor]=""
                                [percent]=this.saldo
                                [maxPercent]=this.saldo
                                [radius]="130"
                                [outerStrokeWidth]="16"
                                [innerStrokeWidth]="8"
                                [outerStrokeColor]="'#FDB900'"
                                [innerStrokeColor]="'#FDB900'"
                                [animation]="true"
                                [animationDuration]="300"
                                [showUnits]="false"
                                [showSubtitle]="false"
                                [titleFontSize]="50"
                        ></circle-progress>
                    </div>
                </div>
                <ion-item>
                    <ion-label><b>{{this.nombre}}</b></ion-label>
                </ion-item>
                <ion-item>
                    <ion-label>CUENTA: {{this.cuenta}}<b></b></ion-label>
                </ion-item>
                <ion-item>
                    <ion-label>SALDO: {{this.saldo}}<b></b></ion-label>
                </ion-item>
            </ion-grid>
        </ion-slide>
    </ion-slides>
</ion-content>
