<ion-header>
    <ion-toolbar>
        <ion-buttons>
            <ion-menu-button></ion-menu-button>
            <ion-title>Transferencias</ion-title>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div *ngIf="dataLocalService.clientes.length > 0 ">
        <ion-list>
            <ion-item *ngFor="let cliente of cliente" button="true" (click)="loadBeneficiario()">
                <ion-avatar slot="start">
                    <img src="../../../assets/avatar.svg">
                </ion-avatar>
                <ion-label>
                    <h2>{{cliente.cliente.nombre}} {{cliente.cliente.apellido}}</h2>
                    <h2></h2>
                    <p>C.I: {{cliente.cliente.cedula}}</p>
                    <p>Cuenta: {{cliente.numeroCuenta}}</p>
                </ion-label>
            </ion-item>
        </ion-list>
    </div>
    <div *ngIf="dataLocalService.clientes.length == 0">
        <ion-list>
            <ion-item button="true" (click)="loadBeneficiario()">
                <ion-avatar slot="start">
                    <img src="../../../assets/avatar.svg">
                </ion-avatar>
                <ion-label>
                    <h2>Seleccione un Beneficiario</h2>
                </ion-label>
            </ion-item>
        </ion-list>
    </div>

    <ion-list>
        <ion-card button="true">
            <ion-item-sliding>
                <ion-item lines="none" button="true">
                    <ion-label>MONTO:</ion-label>
                    <ion-input [(ngModel)]="transferencia.monto"></ion-input>
                </ion-item>
            </ion-item-sliding>
        </ion-card>

        <div class="ion-padding">
            <ion-button expand="block" color="primary" type="submit" (click)="saveTransferencia()">ACEPTAR
            </ion-button>
            <ion-button expand="block" color="secondary" type="submit" (click)="cancelarTransferencia()">Cancelar
            </ion-button>
        </div>

    </ion-list>

</ion-content>
